h1{
    color: #32c5ca;
    text-align: center;
}
body{
    background-image: url(loginbg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.tables{
    margin: auto;
    width: 50%;
    background-color:pink;
    border-radius: 10px;
}

